@{
    ViewData["Title"] = "Me contacter";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Twitter:</strong> <a target="_blank" href="https://twitter.com/tidjani_b">Tidjani_B</a>
    <br />
    <strong>Blog:</strong> <a target="_blank" href="http://espacenuagic.com​">http://espacenuagic.com​</a>
    <br />
    <strong>Email:</strong> <a href="mailto:tidjani.belmansour@live.ca">tidjani.belmansour@live.ca</a>
    <br />
    <strong>LinkedIn:</strong> <a target="_blank" href="https://ca.linkedin.com/in/tidjani-belmansour-ph-d-98460912">https://ca.linkedin.com/in/tidjani-belmansour-ph-d-98460912</a>
    <br />
    <strong>GitHub:</strong> <a target="_blank" href="https://github.com/belrarr ">https://github.com/belrarr</a>
    <br />
</address>